openapi: 3.0.3
info:
  title: LangGraph Trace Analyzer API
  description: |
    API for analyzing and querying LangGraph execution traces from watsonx Orchestrate agents.
    This tool allows you to upload trace JSON data and query it for insights about agent execution,
    tool usage, performance metrics, and error analysis.
  version: 1.0.0
  contact:
    name: SFBL Agent Support
    email: support@sfbl.com

servers:
  - url: https://api.sfbl.com/langgraph-trace
    description: Production server
  - url: http://localhost:8080/langgraph-trace
    description: Development server

tags:
  - name: Traces
    description: Upload and manage trace data
  - name: Analysis
    description: Query and analyze trace information
  - name: Insights
    description: Get specific insights from traces

paths:
  /traces/upload:
    post:
      tags:
        - Traces
      summary: Upload a LangGraph trace
      description: Upload a LangGraph execution trace JSON for analysis
      operationId: uploadTrace
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - trace_data
              properties:
                trace_data:
                  type: object
                  description: The complete LangGraph trace JSON
                trace_name:
                  type: string
                  description: Optional name for this trace
                  example: "Policy Lookup - Customer 12345"
                metadata:
                  type: object
                  description: Additional metadata about the trace
                  properties:
                    agent_name:
                      type: string
                      example: "SFBL Policy Assistant"
                    execution_date:
                      type: string
                      format: date-time
                    user_id:
                      type: string
      responses:
        '201':
          description: Trace uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  trace_id:
                    type: string
                    format: uuid
                    example: "550e8400-e29b-41d4-a716-446655440000"
                  message:
                    type: string
                    example: "Trace uploaded and indexed successfully"
                  summary:
                    type: object
                    properties:
                      total_steps:
                        type: integer
                      agents_used:
                        type: integer
                      tools_called:
                        type: integer
                      execution_time_ms:
                        type: integer
        '400':
          description: Invalid trace data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /traces/{trace_id}:
    get:
      tags:
        - Traces
      summary: Get trace details
      description: Retrieve complete details of a specific trace
      operationId: getTrace
      parameters:
        - name: trace_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Trace details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TraceDetails'
        '404':
          description: Trace not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /traces/{trace_id}/summary:
    get:
      tags:
        - Analysis
      summary: Get trace summary
      description: Get a high-level summary of the trace execution
      operationId: getTraceSummary
      parameters:
        - name: trace_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Summary retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TraceSummary'

  /traces/{trace_id}/agents:
    get:
      tags:
        - Analysis
      summary: List agents used in trace
      description: Get a list of all agents that were invoked during this trace
      operationId: getTraceAgents
      parameters:
        - name: trace_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Agents list retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  trace_id:
                    type: string
                    format: uuid
                  agents:
                    type: array
                    items:
                      $ref: '#/components/schemas/AgentInfo'

  /traces/{trace_id}/tools:
    get:
      tags:
        - Analysis
      summary: List tools called in trace
      description: Get a list of all tools that were called during this trace
      operationId: getTraceTools
      parameters:
        - name: trace_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Tools list retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  trace_id:
                    type: string
                    format: uuid
                  tools:
                    type: array
                    items:
                      $ref: '#/components/schemas/ToolCall'

  /traces/{trace_id}/timeline:
    get:
      tags:
        - Analysis
      summary: Get execution timeline
      description: Get a chronological timeline of all events in the trace
      operationId: getTraceTimeline
      parameters:
        - name: trace_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Timeline retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  trace_id:
                    type: string
                    format: uuid
                  timeline:
                    type: array
                    items:
                      $ref: '#/components/schemas/TimelineEvent'

  /traces/{trace_id}/errors:
    get:
      tags:
        - Insights
      summary: Get trace errors
      description: Extract any errors or failures that occurred during trace execution
      operationId: getTraceErrors
      parameters:
        - name: trace_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Errors retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  trace_id:
                    type: string
                    format: uuid
                  has_errors:
                    type: boolean
                  error_count:
                    type: integer
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorInfo'

  /traces/{trace_id}/performance:
    get:
      tags:
        - Insights
      summary: Get performance metrics
      description: Get timing and performance metrics for the trace
      operationId: getTracePerformance
      parameters:
        - name: trace_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Performance metrics retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerformanceMetrics'

  /traces/query:
    post:
      tags:
        - Analysis
      summary: Query traces with natural language
      description: |
        Ask natural language questions about one or more traces.
        Examples:
        - "Which agents were called in trace XYZ?"
        - "How long did the policy lookup take?"
        - "Were there any errors in the last execution?"
      operationId: queryTraces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - question
              properties:
                question:
                  type: string
                  description: Natural language question about the trace(s)
                  example: "Which agents were used in the last policy lookup?"
                trace_ids:
                  type: array
                  description: Optional list of specific trace IDs to query
                  items:
                    type: string
                    format: uuid
                limit:
                  type: integer
                  description: Maximum number of traces to analyze if no trace_ids provided
                  default: 10
                  minimum: 1
                  maximum: 100
      responses:
        '200':
          description: Query executed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  question:
                    type: string
                  answer:
                    type: string
                    description: Natural language answer to the question
                  supporting_data:
                    type: object
                    description: Structured data supporting the answer
                  traces_analyzed:
                    type: integer
                    description: Number of traces analyzed to answer the question

  /traces/search:
    get:
      tags:
        - Traces
      summary: Search traces
      description: Search for traces based on various criteria
      operationId: searchTraces
      parameters:
        - name: agent_name
          in: query
          schema:
            type: string
          description: Filter by agent name
        - name: tool_name
          in: query
          schema:
            type: string
          description: Filter by tool name used
        - name: has_errors
          in: query
          schema:
            type: boolean
          description: Filter by error status
        - name: from_date
          in: query
          schema:
            type: string
            format: date-time
          description: Filter traces from this date
        - name: to_date
          in: query
          schema:
            type: string
            format: date-time
          description: Filter traces until this date
        - name: min_duration_ms
          in: query
          schema:
            type: integer
          description: Minimum execution duration in milliseconds
        - name: max_duration_ms
          in: query
          schema:
            type: integer
          description: Maximum execution duration in milliseconds
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Search results retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_results:
                    type: integer
                  traces:
                    type: array
                    items:
                      $ref: '#/components/schemas/TraceSummary'

  /traces/{trace_id}/compare:
    post:
      tags:
        - Insights
      summary: Compare traces
      description: Compare this trace with one or more other traces
      operationId: compareTraces
      parameters:
        - name: trace_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - compare_with
              properties:
                compare_with:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: List of trace IDs to compare with
      responses:
        '200':
          description: Comparison completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TraceComparison'

components:
  schemas:
    TraceDetails:
      type: object
      properties:
        trace_id:
          type: string
          format: uuid
        trace_name:
          type: string
        uploaded_at:
          type: string
          format: date-time
        metadata:
          type: object
        raw_trace:
          type: object
          description: The original LangGraph trace JSON
        summary:
          $ref: '#/components/schemas/TraceSummary'

    TraceSummary:
      type: object
      properties:
        trace_id:
          type: string
          format: uuid
        trace_name:
          type: string
        execution_start:
          type: string
          format: date-time
        execution_end:
          type: string
          format: date-time
        total_duration_ms:
          type: integer
        total_steps:
          type: integer
        agents_count:
          type: integer
        tools_count:
          type: integer
        has_errors:
          type: boolean
        error_count:
          type: integer
        status:
          type: string
          enum: [completed, failed, partial]

    AgentInfo:
      type: object
      properties:
        agent_id:
          type: string
        agent_name:
          type: string
        agent_type:
          type: string
        invocation_count:
          type: integer
        total_duration_ms:
          type: integer
        first_invoked_at:
          type: string
          format: date-time
        last_invoked_at:
          type: string
          format: date-time
        tools_used:
          type: array
          items:
            type: string

    ToolCall:
      type: object
      properties:
        tool_name:
          type: string
        tool_id:
          type: string
        invoked_by_agent:
          type: string
        invoked_at:
          type: string
          format: date-time
        duration_ms:
          type: integer
        input_parameters:
          type: object
        output:
          type: object
        status:
          type: string
          enum: [success, error, timeout]
        error_message:
          type: string

    TimelineEvent:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        event_type:
          type: string
          enum: [agent_start, agent_end, tool_call, tool_response, error, state_change]
        agent_name:
          type: string
        tool_name:
          type: string
        description:
          type: string
        duration_ms:
          type: integer
        details:
          type: object

    ErrorInfo:
      type: object
      properties:
        error_id:
          type: string
        occurred_at:
          type: string
          format: date-time
        error_type:
          type: string
        error_message:
          type: string
        stack_trace:
          type: string
        agent_name:
          type: string
        tool_name:
          type: string
        context:
          type: object

    PerformanceMetrics:
      type: object
      properties:
        trace_id:
          type: string
          format: uuid
        total_duration_ms:
          type: integer
        agent_breakdown:
          type: array
          items:
            type: object
            properties:
              agent_name:
                type: string
              duration_ms:
                type: integer
              percentage:
                type: number
                format: float
        tool_breakdown:
          type: array
          items:
            type: object
            properties:
              tool_name:
                type: string
              call_count:
                type: integer
              total_duration_ms:
                type: integer
              average_duration_ms:
                type: number
                format: float
        slowest_operations:
          type: array
          items:
            type: object
            properties:
              operation:
                type: string
              duration_ms:
                type: integer
              timestamp:
                type: string
                format: date-time

    TraceComparison:
      type: object
      properties:
        base_trace_id:
          type: string
          format: uuid
        compared_traces:
          type: array
          items:
            type: string
            format: uuid
        comparison_summary:
          type: object
          properties:
            duration_comparison:
              type: object
              properties:
                base_duration_ms:
                  type: integer
                average_compared_duration_ms:
                  type: number
                  format: float
                difference_percentage:
                  type: number
                  format: float
            agents_comparison:
              type: object
              properties:
                common_agents:
                  type: array
                  items:
                    type: string
                unique_to_base:
                  type: array
                  items:
                    type: string
                unique_to_compared:
                  type: array
                  items:
                    type: string
            tools_comparison:
              type: object
              properties:
                common_tools:
                  type: array
                  items:
                    type: string
                unique_to_base:
                  type: array
                  items:
                    type: string
                unique_to_compared:
                  type: array
                  items:
                    type: string
            error_comparison:
              type: object
              properties:
                base_has_errors:
                  type: boolean
                compared_error_rate:
                  type: number
                  format: float

    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        details:
          type: object

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - ApiKeyAuth: []
  - BearerAuth: []

# Made with Bob
